#box{
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 550px;
    border: 3px solid black;
    flex-grow: 0;
    flex-shrink: 0;
    background-color:beige;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    }
body{
    background-image: url('image1.jpg');
    background-size: 100vw 100vh ;
    /*background: 
    linear-gradient(to bottom,rgba(0, 0, 0, 1)0%, rgba(0,0,0,0.2)70%),
    url('image1.jpg');*/
    background-repeat: no-repeat;
}
#heading{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-bottom: 0px;
    text-align: center;
    font-size: 35px;
    margin-top: 80px;
    height: 50px;
    width: 550px;
    background-color:lavender;
    justify-content: center;
    font-family:Georgia, serif;
}

small{
    color: red;
    margin-left: 21.4px;
    visibility: visible;
    z-index: 1;
}

.input{
    margin-left: 21.4px;
    margin-right: auto;
    width: 500px;
    height: 25px;
    border: 2px solid black;
    background-color: rgb(220, 200, 200);
    z-index: 0;
}
.form-control.success input{
    border-color: rgb(80,220,110) ;
    visibility: visible;
}
.form-control.error input{
    border-color: red;
    visibility: visible;
}
.rbtn{
    margin-left: 21.4px;
}
.dropdown{
    margin-left: 21.4px;
    margin-right: auto;
    width: 500px;
}
.info{
    margin-left: 21.4px;
    margin-bottom: 3px;
}
p{
    display: inline-block;
}
@media(max-width:600px){
    #box{
        display: flex;
        flex-direction: column;
        height: 530px;
        width: 400px;
        border: 3px solid black;
        flex-grow: 0;
        flex-shrink: 0;
        background-color:beige;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        }
        #heading{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            border: 3px solid black;
            border-bottom: 0px;
            text-align: center;
            font-size: 35px;
            margin-top: 80px;
            height: 50px;
            width: 400px;
            background-color:lavender;
            justify-content: center;
            font-family:Georgia, serif;
        }
        .input{
            margin-left: 21.4px;
            margin-right: auto;
            width: 350px;
            height: 25px;
            border: 2px solid black;
            background-color: rgb(220, 200, 200);
            }
        .rbtn{
            width: 400px;
        }
        p{
            display: block;
        }
        .checkbox{
            display: flex;
        }
        .form-control{
            margin-bottom: 0px;
        }
        }
